{% extends 'userhome.html' %}
{% load static %}

{% block content %}
<style>
#part_left
{
 width:70%;
 height:400px;
 float:left;
}
#part_right
{
 width:30%;
 height:400px;
 float:right;
}
#main
{
 width: 100%;
 height: auto;
 
}
.main_part
{
 width: 150px;
 height: 100px;
 float: left;
}
.main_part a
{
 color: #52493a;    
 text-decoration:none;
}
</style>

<div id="part_left">

<h1 style="font-size:35px">Products >> {{catnm}} >> {{subcatnm}}</h1>
{% for row in plist %}
<center>
<table style="border:2px solid black;border-radius:20px;" height="120" width="100%" >
<tr>
<td width="30%" rowspan="3" align="center">
<img src="{{MEDIA_URL}}logo.JPG" height="100" width="100" />    
</td>
<td><b>Product Title : {{row.ptitle}}</b></td>    
</tr>
<tr>
<td><b>Product Description : {{row.pdescription}}</b></td>    
</tr>    
<tr>
<td>
<b>Product Price : {{row.pprice}}</b>

<form method="post" action="/user/order/">
{% csrf_token %}    
<input type="hidden" name="pid" value="{{row.pid}}" />
<input type="hidden" name="pprice" value="{{row.pprice}}" />    
<input type="text" name="qty" placeholder="Enter Quantity" />
<input type="submit" value="Place Order" />    
</form>
</td>    
</tr>
</table>  
<br/><br/>  
{% endfor %}
</center>
</div>

<div id="part_right">
<h1 style="font-size:35px">SubCategory >></h1>
<ul>
{% for sc_row in sclist %}
<li>
<a style="color:#373127;text-decoration: none;" href="/user/showproduct/?catnm={{catnm}}&subcatnm={{sc_row.subcatnm}}">
{{sc_row.subcatnm}}
</a>
</li>
{% endfor %}
</ul>
</div>    


<div class="cleaner"></div>
{% endblock %}