{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>LeatherWorld.com</title>
<link href="{% static 'images/logo.jpg' %}" rel="icon" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<!--
Template 2053 Leather Shop
http://www.tooplate.com/view/2053-leather-shop
-->
<link href="{% static 'css/tooplate_style.css' %}" rel="stylesheet" type="text/css" />

<script language="javascript" type="text/javascript">
function clearText(field)
{
    if (field.defaultValue == field.value) field.value = '';
    else if (field.value == '') field.value = field.defaultValue;
}
</script>

<link rel="stylesheet" type="text/css" href="{% static 'css/ddsmoothmenu.css' %}" />

<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ddsmoothmenu.js' %}">

/***********************************************
* Smooth Navigational Menu- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
***********************************************/

</script>

<script type="text/javascript">

ddsmoothmenu.init({
	mainmenuid: "tooplate_menu", //menu DIV id
	orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
	classname: 'ddsmoothmenu', //class added to menu's outer DIV
	//customtheme: ["#1c5a80", "#18374a"],
	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})

</script>

<script src="{% static 'js/jquery-1.2.6.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery.easing.1.3.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery.kwicks-1.5.1.pack.js' %}" type="text/javascript"></script>

<script type="text/javascript">
	$().ready(function() {
		$('.slider').kwicks({
			max : 740,
			spacing : 1
		});
	});
</script>

</head>
<body>
<!-- wrapper starts -->
<div id="tooplate_top_wrapper">
    {% block top_header %}
	<div id="tooplate_top">
    	<div id="tooplate_menu" class="ddsmoothmenu">
            <ul>
                <li><a href="/" class="selected"><span></span>Home</a>
                <li><a href=""><span></span>About</a>
                    <ul>
                        <li><a href="/about/">About us</a></li>
                        <li><a href="/service/">Service</a></li>
                    </ul>
                </li>
                <li><a href="/contact/"><span></span>Contact</a></li>
                <li><a href="/register/"><span></span>Register</a></li>
                <li><a href="/login/"><span></span>Login</a> </li>
            </ul>
            <br style="clear: left" />
        </div> <!-- end of menu -->
    	<div id="tooplate_search">
            <form action="#" method="get">
              <input type="text" value="Search" name="keyword" id="keyword" title="keyword" onfocus="clearText(this)" onblur="clearText(this)" class="txt_field" />
              <input type="submit" name="Search" value="" alt="Search" id="searchbutton" title="Search" class="sub_btn"  />
            </form>
        </div>
    </div> <!-- end of top -->
    {% endblock %}
</div> <!-- end of top wrapper -->


<!--header starts-->
<div id="tooplate_header_wrapper">
	<div id="tooplate_header">
        {% block header %}

    	<div id="site_title"><h1 style="text-align:center; font-family: 'Times New Roman', Times, serif; color: black;" >Leatherworld.com</h1></div>
        
        <div id="slider_wrapper">
            <ul class="slider horizontal" >
                <li id="slide_1"><img src="{% static 'images/slider/01.JPG' %}" alt="Slider 1" /></li>
                <li id="slide_2"><img src="{% static 'images/slider/02.JPG' %}" alt="Slider 2" /></li>
                <li id="slide_3"><img src="{% static 'images/slider/03.JPG' %}" alt="Slider 3" /></li>
                <li id="slide_4"><img src="{% static 'images/slider/04.JPG' %}" alt="Slider 4" /></li>
                <li id="slide_5"><img src="{% static 'images/slider/05.JPG' %}" alt="Slider 5" /></li>
            </ul>
		</div>
        {% endblock %}
    </div> <!-- end of header -->
</div> <!-- end of header wrapper -->
<!--header ends-->

<!--start of tooplate_main-->
<div id="tooplate_main_wrapper">
	<div id="tooplate_main">
        <!--start of content_top-->
    	{% block content_top %}
        <div id="content_top">    
            <div class="post col_2 no_bottom float_l">
                <h2><a href="">Leather Shop Site</a></h2>
                <div class="meta no_background"><strong>15 January 2048</strong> in <strong><a href="#">Freebie</a>, <a href="#">Template</a></strong> by Tracy, <strong>128 comments</strong></div>
                
                <div class="image_frame image_fl"><span></span><img src="{% static 'images/tooplate_image_01.jpeg' %}" alt="Image 01" /></div>
                <p>Leather Shop is a free website template for everyone. You may download, modify and apply this template for any of your website.  Credit goes to <a href="http://jwloh.deviantart.com/art/Aquaticus-Social-91014249" target="_blank">jwloh</a> for icons. Ut sed lorem ac ante cursus auctor.</p>
                <a href="#" class="more float_r">More</a>
                <div class="cleaner"></div>
            </div>
            <div class="post col_2 no_bottom float_r">
               <img src="{% static 'images/banner.jfif' %}" height="207.2" width="450" />
            </div>
            <div class="cleaner"></div>
        </div><!--end of content_top-->
        {% endblock %}

        <!--start of content_lower-->
        {% block content %}
        <div id="content">
           <h2>Welcome to LeatherWorld.com</h2>
           <h2>Home page</h2>
        </div>
        <div id="sidebar"> 
            <h3>Featured Project</h3>
        </div> <!-- end of sidebar -->
        <div class="cleaner"></div>
        {% endblock %}
    </div> <!-- end of main -->
</div> <!-- end of main wrapper -->
<!--end of tooplate main-->

<!--start tooplate_footer_wrapper-->
<div id="tooplate_footer_wrapper">
	<div id="tooplate_footer">
    	<a href="#tooplate_header" class="goto_top"></a>
        
        {% block tooplate_footer_wrapper %}
    	<div class="col_3">
        	<h5>Pages</h5>
            <ul class="bottom_list">
                <li><a href="">Home</a></li>
                <li><a href="">About us</a></li>
                <li><a href="">Login</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">Contact</a></li>
            </ul>
    	</div>
        <div class="col_3">
        	<h5>Our services</h5>
            <ul class="bottom_list">
	            <li><a href="#">Product Buying & Selling</a></li>
                <li><a href="#">Ecommerce application</a></li>
                <li><a href="#">B2B Application</a></li>
                <li><a href="#">Factory Outlets</a></li>
			</ul>

        </div>
        {% endblock %}

        <div class="col_3 no_margin_right">
            {% block about_us %} 
			<h5>About Us</h5>
            <p><em>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eros odio, rutrum quis volutpat nec, venenatis congue nulla. Praesent quis mauris purus, at pellentesque ante.</em></p>
            <p>Donec convallis tortor eu nunc viverra nec euismod nunc consequat. Nunc in.</p>
            <p>Copyright © 2048 <a href="#">LeatherWorld.com</a></p>
			{% endblock %}

            <div class="cleaner h10"></div>
            {% block sociallink %}
              <a href="#"><img alt="facebook" src="{% static 'images/facebook.png' %}" title="facebook" /></a>
              <a href="#"><img alt="flickr" src="{% static 'images/flickr.png' %}" title="flickr" /></a>
              <a href="#"><img alt="twitter" src="{% static 'images/twitter.png' %}" title="twitter" /></a>
              <a href="#"><img alt="youtube" src="{% static 'images/youtube.png' %}" title="youtube" /></a>
              <a href="#"><img alt="rss" src="{% static 'images/feed.png' %}" title="rss" /></a>     		
            {% endblock %}
         </div>
        <div class="cleaner"></div>
    </div> <!-- end of footer -->
</div> <!-- end of footer wrapper -->
<!--wrapper ends-->
</body>
</html>