{% extends 'adminhome.html' %}
{% load static %}


{% block content %}
<div id="content">
<h1>Add Category Here!!!</h1>
<font color="white" style="font-size:20px;">{{output}}</font>
<form method="POST" action="/myadmin/addcategory/" enctype="multipart/form-data" >
{% csrf_token %}
<table cellspacing="5" cellpadding="5">
<tr>
<td>Category Name</td>
<td><input type="text" name="catnm" placeholder="Enter category name" /></td>    
</tr>    
<tr>
<td>Category Icon</td>
<td><input type="file" name="caticon" /></td>
</tr>
<tr>
<td colspan="2"><input type="submit" value="Add Category"></td>
</tr>
</table>
</form>
</div>
<div id="sidebar"> 
<h3>Featured Project</h3>
</div>
<div class="cleaner"></div>
{% endblock %}